<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>server 信息</title>
</head>
<body>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 align="center">
				集中展示平台
			</h3>
			<div class="tabbable" id="tabs-205508">
				<ul class="nav nav-tabs">
					<li>
						<a href="#panel-833287" data-toggle="tab">第一部分</a>
					</li>
					<li class="active">
						<a href="#panel-339621" data-toggle="tab">第二部分</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="panel-833287">
						<p>
							第一部分内容.
						</p>
					</div>
					<div class="tab-pane active" id="panel-339621">
						<p>
							第二部分内容.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>